

<style type="text/css">

  /*a, a:link, a:visited, a:focus, a:hover, a:active {
  color: red;
  text-decoration:none;
  }*/
  /*a:visited, a:focus, a:hover, a:active {
  color: red;
  text-decoration:none;
  }*/
  /* unvisited link */
  .container a{
    text-decoration-line: none;
  }

  a:link {
    color: #1772d0;
    text-decoration:none;
  }

  /* visited link */
  a:visited {
    color: #1772d0;
    text-decoration:none;
  }

  /* mouse over link */
  a:hover {
    color: #f09228;
    text-decoration:none;   
  }

  /* selected link */
  a:active {
    color: #1772d0;

  }

  .publication a{
    text-decoration: underline;
  }

  body,td,th {
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400
  }
  body {
    background-color: rgb(245,245,245);
  }
  heading {
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size: 16px; /* 19 */
    font-weight: 600 /* 1000 */
  }
  strong {
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600 /* 800 */
  }
  strongred {
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    color: 'red' ;
    font-size: 16px
  }
  sectionheading {
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    /*text-decoration: underline;*/
  }
  pageheading {
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 20pt;
  }
  paperheading {
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700
  }

  authornames {
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500
  }
  self {
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 530;
    text-decoration: underline;
  }
  paperhighlight {
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 530;
    color: rgb(200, 50, 50);
  }

  highlightdate {
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 530;
    /*line-height: 3pt;*/
    text-align: left;
    padding-bottom: 0px;
    padding-top: 0px;
    /*color: rgb(200, 50, 50);*/
  }

  highlighttext {
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    /*line-height: 3pt;*/
    text-align: left;
    padding-bottom: 0px;
    padding-top: 0px;
    /*color: rgb(200, 50, 50);*/
  }
  specialhighlighttext {
    font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 2pt;
    color: rgb(200, 50, 50);
    /*color: rgb(200, 50, 50);*/
  }

  .ImageBorder
  {
      border-width: 1px;
      border-color: Black;
  }

  .container{  /* fixed width */
      margin:auto;
      padding:10px;
      width:940px;
      text-align:left;
      position:relative;
      font-family:"OpenSans",Helvetica ,Arial,sans-serif;
      font-size: 11pt;
      font-style: normal;
      font-weight: normal;
      line-height: 150%;
      color: rgb(0,0,125);/*#000000;*/
      background-color:rgb(255,255,255);
      -moz-border-radius: 15px;
      border-radius: 10px;
      -moz-box-shadow: 4px 4px 6px #888;
      -webkit-box-shadow: 4px 4px 6px #888;
      box-shadow: 4px 4px 6px #888;
  }


  .info-icons{
      font-size: 12pt;
      font-style: normal;
      font-weight: normal;
  }

  /*hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }*/

  .gradient-underline{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
    background-position: 0 1.5em;
    background-repeat: no-repeat;
    background-size: 200% 1.5px;
    }
</style>
